<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
  </head>
  <body>
    <form method="post" action="/addToDo">
      <input type="text" name="toDo" placeholder="Create a new todo..." />
    </form>

    <ul>
      <% for (let i = 0; i < items.length; i++) {%>
      <li><span><%= items[i].toDo %></span></li>
      <% } %>
    </ul>
  </body>
</html>
