<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Home</title>
  </head>

  <body>
    <header
      class="bg-bgDesktop bg-cover bg-no-repeat h-[230px] relative lg:h-[300px]"
    >
      <h1
        class="text-white text-3xl font-medium tracking-[0.4em] py-12 px-6 lg:pt-[70px] lg:px-[350px] xl:px-[450px]"
      >
        TODO
      </h1>
    </header>
    <section class="bg-bgBody w-screen h-screen">
      <div
        class="bg-white max-w-full absolute top-44 left-0 right-0 flex flex-col items-center gap-4 rounded-md shadow-small py-10 px-6 mt-4 mx-6 lg:mt-14 lg:mx-[350px] xl:mx-[450px]"
      >
        <p>
          todo is designed to simplify your day-to-day tasks without
          overwhelming you with unnecessary features. With a clean interface,
          staying productive has never been easier.
        </p>

        <p>Ready to take control of your tasks?</p>

        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </section>
  </body>
</html>
